<h1>Política de Privacidad para la Aplicación Uñas Cris</h1>

<p>Última actualización: 2023-07-05</p>

<p>Bienvenido/a a la aplicación de spa de uñas. Esta política de privacidad describe cómo recopilamos, utilizamos y compartimos la información personal de los usuarios de nuestra aplicación. Al utilizar nuestra aplicación, aceptas los términos descritos en esta política de privacidad.</p>

<ol>
  <li>Información que recopilamos:
    <ol>
      <li>Información personal: Podemos recopilar información personal, como tu nombre, dirección de correo electrónico, número de teléfono y dirección postal cuando te registras en nuestra aplicación o realizas una reserva en nuestro spa de uñas.</li>

        <li>Información de pago: Si realizas pagos a través de nuestra aplicación, recopilaremos la información necesaria para procesar tu transacción, como los datos de tu tarjeta de crédito o débito. No almacenamos esta información en nuestros servidores y utilizamos proveedores de servicios de pago confiables para garantizar la seguridad de tus datos de pago.</li>
        <li>Información del dispositivo: Podemos recopilar información sobre el dispositivo que utilizas para acceder a nuestra aplicación, incluyendo el modelo del dispositivo, sistema operativo, versión del software, identificadores únicos del dispositivo y la dirección IP.</li>
    </ol>
  </li>
  <li>
    Uso de la información recopilada:
    <ol>
      <li>La información personal que recopilamos para brindarte los servicios de nuestra aplicación, procesar tus reservas, enviar notificaciones relevantes y responder a tus consultas y solicitudes.</li>
      <li>Podemos utilizar tu dirección de correo electrónico para enviarte actualizaciones, noticias sobre nuestros servicios, ofertas especiales y promociones relacionadas con el spa de uñas. Puedes optar por no recibir estas comunicaciones promocionales siguiendo las instrucciones de cancelación de suscripción que se proporcionan en los correos electrónicos.</li>
      <li>La información anónima y agregada para mejorar nuestra aplicación y comprender mejor las preferencias y patrones de uso de nuestros usuarios.</li>
    </ol>
  </li>
  <li>Compartir información con terceros:
    <ol>
      <li>No vendemos, alquilamos ni compartimos tu información personal con terceros para fines de marketing sin tu consentimiento expreso.</li>
      <li>Podemos compartir tu información personal con proveedores de servicios externos que nos asisten en la prestación de servicios relacionados con nuestra aplicación, como el procesamiento de pagos y el envío de correos electrónicos. Estos proveedores de servicios están obligados a mantener la confidencialidad de tu información y solo pueden utilizarla en la medida necesaria para prestar los servicios acordados.</li>
      <li>Podemos divulgar tu información personal en respuesta a una orden judicial o una solicitud legal válida, o si creemos de buena fe que dicha divulgación es necesaria para proteger nuestros derechos, asegurar la seguridad de otros usuarios o cumplir con una obligación legal.</li>
    </ol>
  </li>
  <li>
    Seguridad de la información:
    Implementamos medidas de seguridad adecuadas para proteger tu información personal contra accesos no autorizados, uso indebido o divulgación no autorizada. Sin embargo, debes tener en cuenta que ninguna transmisión de datos por Internet o sistema de almacenamiento electrónico es completamente segura.
  </li>
  <li>Tus derechos:
    Tienes derecho a acceder, corregir o eliminar la información personal que hemos recopilado sobre ti. Puedes ejercer estos derechos contactándonos a través de los datos de contacto proporcionados al final de esta política.</li>
  <li>Cambios en la política de privacidad:
    Podemos modificar o actualizar esta política de privacidad de vez en cuando. Te recomendamos revisar periódicamente esta política para estar informado sobre cómo protegemos tu información personal.</li>
  <li>Contacto:
    Si tienes alguna pregunta, inquietud o solicitud relacionada con esta política de privacidad, no dudes en contactarnos a través del correo alvarezcrisstinita@gmail.com</li>
</ol>
